.main {
  min-height: 100vh;
  padding: 0 8rem;
  width: 100%;
  max-width: 1700px;
}

.presentationContainer {
  width: 100%;
  display: flex;
  padding-top: 5rem;
}

.presentationInfoContainer {
  flex: 4;
}

.h1 {
  font-size: 3rem;
  margin-top: 1rem;
}

.infoDescription {
  font-size: 0.8rem;
  margin-top: 1.2rem;
  margin-bottom: 2.4rem;
  font-weight: 300;
}

.presentationImgContainer {
  flex: 6;
  display: flex;
  justify-content: center;
  padding-left: 2.5rem;
}

.trendingAppsContainer {
  margin-top: 4rem;
}

.trendingTitleContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.trendingAppsCardContainer {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

.dream {
  font-size: 1.7rem;
  margin: 6.5rem 10rem 0 10rem;
  text-align: center;
  font-weight: 600;
}

.dreamImg {
  width: 100%;
  margin-top: 3rem;
  border-radius: 0.6rem;
}

.footer {
  display: flex;
  flex: 1;
  height: 20px;
  padding: 2rem 0;
  border-top: 1px solid #ff0000;
  justify-content: center;
  align-items: center;
}

.relleno {
  width: 100%;
  height: 1000px;
  border: 2px solid green;
  margin-top: 2rem;
}

@media (max-width: 1024px) {
  .trendingAppsCardContainer {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .main {
    padding: 0 4rem;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
