.main {
  min-height: 100vh;
  padding: 0 8rem 4rem 8rem;
  width: 100%;
  max-width: 1700px;
}

.presentationContainer {
  width: 100%;
  display: flex;
  padding-top: 5rem;
}

.presentationInfoContainer {
  flex: 4;
}

.h1 {
  font-size: 3rem;
  margin-top: 1rem;
  color: #ffffff;
}

.infoDescription {
  font-size: 0.8rem;
  margin-top: 1.2rem;
  margin-bottom: 2.4rem;
  font-weight: 300;
  color: #ffffff;
}

.presentationImgContainer {
  flex: 6;
  display: flex;
  justify-content: center;
  padding-left: 2.5rem;
}

.imgPresentation {
  width: 280px;
  height: 500px;
}
.trendingAppsContainer {
  margin-top: 4rem;
}

.trendingTitleContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trendingAppsTitle {
  font-size: 1.5rem;
  color: #ffffff;
}

.trendingAppsCardContainer {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

.dream {
  font-size: 1.5rem;
  margin: 6.5rem 10rem 0 10rem;
  text-align: center;
  font-weight: 600;
  color: #ffffff;
}

.dreamImg {
  width: 100%;
  margin-top: 3rem;
  border-radius: 0.6rem;
}

.features {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  gap: 1rem;
}

.featuresTitle {
  width: 100%;
  text-align: center;
  margin-top: 4rem;
  font-size: 2rem;
  color: #ffffff;
}

.formContainer {
  margin-top: 4rem;
  background-color: rgba(255, 255, 255, 0.05);
  display: flex;

  align-items: center;
  padding: 3rem 0;
  border-radius: 15px;
  flex-direction: column;
}

.footer {
  display: flex;
  flex: 1;
  height: 20px;
  padding: 2rem 0;
  border-top: 1px solid #ff0000;
  justify-content: center;
  align-items: center;
}

.relleno {
  width: 100%;
  height: 1000px;
  border: 2px solid green;
  margin-top: 2rem;
}

@media (max-width: 1024px) {
  .trendingAppsCardContainer {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .main {
    padding: 0 4rem 4rem 4rem;
  }

  .h1 {
    font-size: 2rem;
  }

  .imgPresentation {
    width: 210px;
    height: 370px;
  }

  .dream {
    font-size: 1.5rem;
    margin: 6.5rem 5rem 0 5rem;
  }
}

@media (max-width: 768px) {
  .main {
    padding: 0 3rem 4rem 3rem;
  }

  .h1 {
    font-size: 1.5rem;
  }

  .imgPresentation {
    width: 180px;
    height: 320px;
  }

  .dream {
    font-size: 1.5rem;
    margin: 6.5rem 2rem 0 2rem;
  }

  .features {
    flex-wrap: wrap;
    padding: 0 7rem;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 0 2rem 4rem 2rem;
  }

  .h1 {
    font-size: 2rem;
  }

  .presentationImgContainer {
    position: absolute;
    z-index: 0;
    width: 100%;
    flex: 0;
    display: flex;
    justify-content: center;
    padding-left: 0;
    left: 0;
  }

  .presentationInfoContainer {
    text-align: center;
    position: relative;
    z-index: 20;
  }
  .presentationContainer {
    margin-bottom: 5rem;
  }

  .imgPresentation {
    filter: brightness(20%);
  }

  .dream {
    font-size: 1.2rem;
    margin: 4rem 0rem 0 0rem;
  }

  .trendingAppsTitle {
    font-size: 1.2rem;
  }

  .features {
    flex-wrap: wrap;
    padding: 0 4rem;
  }
}

@media (max-width: 480px) {
  .main {
    padding: 0 1rem 4rem 1rem;
  }

  .presentationContainer {
    padding: 5rem 1rem 0 1rem;
  }

  .trendingAppsTitle {
    font-size: 1rem;
    width: 50%;
  }

  .dream {
    font-size: 1rem;
    margin: 4rem 0rem 0 0rem;
  }

  .features {
    padding: 0 1rem;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
