.main {
  min-height: 100vh;
  padding: 4rem 8rem;
  width: 100%;
  max-width: 1700px;
}

.li {
  margin-top: 10px;
}

@media (max-width: 1024px) {
  .main {
    padding: 0 4rem;
  }
}

@media (max-width: 495px) {
  .main {
    padding: 0 1rem;
  }
}
